.button {
  background-color: var(--black);
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.button-yellow {
  background-color: #fec900;
  border: none;
}

.buttonContent {
  display: flex;
  gap: 1rem;
  align-content: center;
  align-items: center;

  .check-icon {
    font-size: 2rem;
  }
}
